# Flutter / Dart
.dart_tool/
build/
.flutter-plugins*
.flutter-plugins-dependencies
.packages

# IDE
.idea/
.vscode/
*.iml

# Kotlin / Android Studio
**/.kotlin/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment files (never commit these)
**/env/dev.json
**/env/prod.json